APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=abelohost_blog
DB_USERNAME=abelohost_blog
DB_PASSWORD=abelohost_blog_password
DB_ROOT_PASSWORD=abelohost_root_password

